$primary: (
    50 : #e7eff6,
    100 : #c2d6ea,
    200 : #99bbdc,
    300 : #709fcd,
    400 : #528bc3,
    500 : #3376b8,
    600 : #2e6eb1,
    700 : #2763a8,
    800 : #2059a0,
    900 : #144691,
    A100 : #c5daff,
    A200 : #92b9ff,
    A400 : #5f99ff,
    A700 : #4689ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent: (
    50 : #eef6ff,
    100 : #d4eaff,
    200 : #b8dcff,
    300 : #9ccdff,
    400 : #86c3ff,
    500 : #71b8ff,
    600 : #69b1ff,
    700 : #5ea8ff,
    800 : #54a0ff,
    900 : #4291ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #eaf2ff,
    A700 : #d0e3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn: (
    50 : #fff0ee,
    100 : #ffd8d6,
    200 : #ffbfba,
    300 : #ffa59e,
    400 : #ff918a,
    500 : #ff7e75,
    600 : #ff766d,
    700 : #ff6b62,
    800 : #ff6158,
    900 : #ff4e45,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffedec,
    A700 : #ffd5d3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
