body {
  margin: 0;
  padding: 0;
  font-family: $core-font-family;
  overflow-x: hidden;
}

a {
  text-decoration:none;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.w-1100 {
  max-width: 1100px;
}
